* {
  box-sizing: border-box;
}

header,
h1,
h2,
footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px 30px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
