footer {
  background-color: rgb(189, 8, 239);
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgb(25, 234, 227);
  align-items: center;
  justify-content: center;
}
